natives

.minecraft/.*
.minecraft/acmedia
.minecraft/asm
.minecraft/astralsorcery
.minecraft/backups
.minecraft/betweenlands_gallery
.minecraft/cache
.minecraft/config1
.minecraft/coremods
.minecraft/craftpresence
.minecraft/crash-reports
.minecraft/llibrary
.minecraft/logs
.minecraft/mods
.minecraft/mods1
.minecraft/nuclearcraft
.minecraft/patchouli_books
.minecraft/resourcepacks
.minecraft/saves
.minecraft/screenshots
.minecraft/scripts0
.minecraft/server-resource-packs
.minecraft/snapshots-server
.minecraft/w*
.minecraft/x*

.minecraft/*.cfg
.minecraft/*.json

.minecraft/**.log
.minecraft/BotaniaVars.dat

.minecraft/config/AppliedEnergistics2/CustomRecipes.cfg

.minecraft/config/AppliedEnergistics2/items.csv

.minecraft/config/AppliedEnergistics2/VersionChecker.cfg

.minecraft/config/craftpresence.properties

.minecraft/config/jei/worldSettings.cfg

.minecraft/config/jei/bookmarks.ini

.minecraft/config/splash.properties

.minecraft/config/InvTweaks/InvTweaks.cfg

.minecraft/local/client/rtdata.json

instance.cfg
