natives

.minecraft/.*
.minecraft/acmedia
.minecraft/asm
.minecraft/astralsorcery
.minecraft/backups
.minecraft/betweenlands_gallery
.minecraft/cache
.minecraft/config1
.minecraft/coremods
.minecraft/craftpresence
.minecraft/crash-reports
.minecraft/llibrary
.minecraft/logs
.minecraft/mods
.minecraft/mods1
.minecraft/nuclearcraft
.minecraft/patchouli_books
.minecraft/resourcepacks
.minecraft/saves
.minecraft/screenshots
.minecraft/scripts0
.minecraft/server-resource-packs
.minecraft/snapshots-server
.minecraft/w*
.minecraft/x*

.minecraft/*.cfg
.minecraft/*.json

.minecraft/**.log