# Configuration file

ability {
    # Supported Metal Entities of Electro Master. The entity name can be used. [default: [minecart], [chest_minecart], [furnace_minecart], [tnt_minecart], [hopper_minecart], [spawner_minecart], [commandblock_minecart], [academy:EntityMagHook], [villager_golem]]
    S:metalEntities <
        minecart
        chest_minecart
        furnace_minecart
        tnt_minecart
        hopper_minecart
        spawner_minecart
        commandblock_minecart
        academy:EntityMagHook
        villager_golem
     >

    # Supported Normal Metal Blocks of Electro Master. The block name and ore dictionary name can be used. [default: [rail], [iron_bars], [iron_block], [activator_rail], [detector_rail], [golden_rail], [sticky_piston], [piston]]
    S:normalMetalBlocks <
        rail
        iron_bars
        iron_block
        activator_rail
        detector_rail
        golden_rail
        sticky_piston
        piston
     >

    # Supported Weak Metal Blocks of Electro Master. The block name and ore dictionary name can be used. [default: [dispenser], [hopper], [iron_ore]]
    S:weakMetalBlocks <
        dispenser
        hopper
        iron_ore
     >
}


generic {
    # switch for analytic system [default: true]
    B:analysis=true

    # Whether the skills are effective on players.
    B:attackPlayer=true

    # Whether the skills will destroy blocks in the world.
    B:destroyBlocks=true

    # Whether the ores will be generated in overworld. [default: true]
    B:genOres=true

    # Whether phase liquid will be generated in overworld. [default: true]
    B:genPhaseLiquid=true

    # Whether the player will be given MisakaCloud Terminal on first spawn. [default: true]
    B:giveCloudTerminal=true

    # Show heads or tails after throwing a coin. [default: false]
    B:headsOrTails=false

    # Whether teleporter can use mouse wheel to control the destination.
    B:useMouseWheel=false

    # The worlds which whitelisted destroying blocks. World IDs, sub folder names and world names are all supported.
    S:worldsWhitelistedDestroyingBlocks <
     >
}


gui {
    D:cpbar <
        -12.0
        12.0
     >

    # The font to be used. If not found in the system, default fonts will be used. [default: Microsoft YaHei]
    S:font=Microsoft YaHei
    D:keyhint <
        0.0
        30.0
     >
    D:media <
        -6.0
        -6.0
     >
    D:notification <
        0.0
        15.0
     >
}


keys {
    # Ability control key #0 [range: -1000 ~ 1000, default: -100]
    I:ability_0=-100

    # Ability control key #1 [range: -1000 ~ 1000, default: -99]
    I:ability_1=-99

    # Ability control key #2 [range: -1000 ~ 1000, default: 19]
    I:ability_2=19

    # Ability control key #3 [range: -1000 ~ 1000, default: 33]
    I:ability_3=33

    #  [range: -1000 ~ 1000, default: 47]
    I:ability_activation=47

    #  [range: -1000 ~ 1000, default: 62]
    I:debug_console=62

    #  [range: -1000 ~ 1000, default: 49]
    I:edit_preset=49

    #  [range: -1000 ~ 1000, default: 56]
    I:open_data_terminal=56

    #  [range: -1000 ~ 1000, default: 46]
    I:switch_preset=46
}


